<!--
  Generated template for the SkripsiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Pendataan Skripsi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
    <ion-list>
      <ion-list-header color="primary">DATA DIRI</ion-list-header>
      <ion-item>
        <!-- fixed | floating | stacked -->
        <ion-label fixed>Nama</ion-label>
        <ion-input type="text" formControlName="namaDiri"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>NIM</ion-label>
        <ion-input type="text" formControlName="NIMDiri"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Judul Skripsi</ion-label>
        <ion-input type="text" formControlName="judulSkripsi"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Class of</ion-label>
        <ion-input type="text" formControlName="classOf"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list formArrayName="pembimbing">
      <ion-list-header color="primary">PEMBIMBING</ion-list-header>
      <ion-item>
        <ion-label>Nama #1</ion-label>
        <ion-input type="text" formControlName="0"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nama #2</ion-label>
        <ion-input type="text" formControlName="1"></ion-input>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label>Lintas Prodi</ion-label>
      <ion-checkbox [checked]="checked"></ion-checkbox>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>

</ion-content>
