<!--
  Generated template for the TampilanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>tampilan</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content padding>
  <ion-card text-center>
    <ion-card-header>
      <h3>Judul</h3> <br> <h1>{{ judul }} </h1>
    </ion-card-header>
    <ion-card-content>
      <ion-img width="100" height="100" src="https://botw-pd.s3.amazonaws.com/styles/logo-original-577x577/s3/082015/umn_pot.jpg?itok=bfgWnme0"></ion-img>      
      <h3> Nama : {{ nama }} </h3>
      <h3> NIM : {{ nim }} </h3>
      <h3> Angkatan : {{ classof }} </h3>
      <h2>Pembimbing</h2>
      <h3> {{ pembimbing1 }} </h3>
      <h3> {{ pembimbing2 }} </h3>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col text-center>
      <button ion-button color="danger" (click)="closeModal()" text-center>Close</button>
    </ion-col>
  </ion-row>
</ion-content>
