<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    <button ion-button (click)="goToFirstPage()">Go To First Page</button>
  </p>
</ion-content>
